*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e5e7eb;
}
.app{
  width: 100%;
  position: relative;
  display: flex;
}

.popup{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  width: 100%;
  max-width: 640px;
  padding: 32px 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-inner .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}





#menu {
  background-color: #111827;
  width: 300px;
  height: 100vh;
  
}
.logo{
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  padding: 10px;
  border-radius: 100%;
  width: 70px;
  height: auto;
  margin-right: 15px;
}
.items{
  margin-top: 40px;

}

li{
  list-style-type: none;
  padding: 15px;
  transition: 0.3s ease;

}
.items li:hover{
  background-color: #253047;
  cursor: pointer;
}

.active {
  border-left: 4px solid #fff;
}

.active a {
  color: #f3f4f6;
}

.items li:hover i,li:hover a{
  color: #f3f4f6;
}
.icon{
  color: rgb(134, 141, 151);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}
a{
  text-decoration: none;
  color: rgb(134,141,151);
  font-weight: 300px;
  transition: 0.3s ease;
}


.add-btn{
  width: 15%;
  border: 1px solid grey;
  border-radius: 20px;
}

.add-btn:hover{
  background-color: #1F6E8C;
}
.interface{
  background-color: #fff;
  border-bottom: 3px solid #594ef7;
  position: fixed;
  width: calc(100% - 300px);
  }

.navigation{
    background-color: #fff;
    padding: 5px 30px;
}
.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile img {
    padding: 10px;
    border-radius: 100%;
    width: 55px;
    height: auto;
    
 }
 .profie i{
  padding: 20px;
 }
 .profile p{
  text-align: center;
 }
 .profile a{
  display: block;
  text-align: center;
  padding: 2px 2px;
  border-radius: 5px;
 }

.manify{
  padding: 10px 10px;
 }
.s{
  padding: 10px 14px;
  border: 1px solid #d7dfd7;
  border-radius: 4px;
}
 .s input{
  border: none;
  outline: none;
  font-size: 14px;
 }

.content{
  width: calc(100% - 300px);
  margin-top: 100px;

}
.toppic{
  color: #444a53;
  padding: 0px 0px 0 30px;
  font-size: 24px;
  font-weight: 700;
}


.btn{
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
}

.values{
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.val-box{
  background-color: #fff;
  width: 235px;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}
.val-box i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-right: 15px;
}
.val-box:nth-child(1) i{
  background-color: #7b74ec;
}

.val-box:nth-child(2) i{
  background-color: #e45d99;
}

.val-box h3{
  font-size: 18px;
  font-weight: 600px;
}

.val-box span{
  font-size: 15px;
  color: #828997;
}

.board{
  width: 90%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background-color: #fff;
  border-radius: 8px;
}

.board img{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.board h5{
  font-weight: 600;
  font-size: 14px;
}

.board .people{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.board p {
  font-weight: 400;
  font-size: 13px;
  color: #787d8d;
}

table{
  border-collapse: collapse;
}

tr{
  border-bottom: 1px solid #eef0f3;
}

thead td{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #f9fafb;
  text-align: start;
  padding: 10px;

}

tbody tr td{
  padding: 10px 15px;
}


.Action button{
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.Action button:hover {
  background-color: #45a049;
}


  

  