#menu {
    background-color: #111827;
    width: 300px;
    height: 100vh;
    
  }
.logo{
    display: flex;
    align-items: center;
    color: #fff;
}
  
.logo img {
    padding: 10px;
    border-radius: 100%;
    width: 70px;
    height: auto;
    margin-right: 15px;
}
.items{
    margin-top: 40px;

}

li{
    list-style-type: none;
    padding: 15px;
    transition: 0.3s ease;

}
li:hover{
    background-color: #253047;
    cursor: pointer;
}

li.active {
    border-left: 4px solid #fff;
}
  
li.active a {
    color: #f3f4f6;
}

li:hover i,li:hover a{
    color: #f3f4f6;
}
.icon{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}
a{
    text-decoration: none;
    color: rgb(134,141,151);
    font-weight: 300px;
    transition: 0.3s ease;
}